@function imgUrl($file, $path: "background") {
    @return url("../images/" + $path + "/" + $file) no-repeat;
}

header{
    .header-top-bar{
        background-color: $primary;
    }
    .banner {
        position: relative;
        overflow: hidden;
        display: flex;
    }
    .banner-sub-title{
        color: $white;
        text-transform: capitalize;
    }
    .banner-hero-title{
        color: $white;

    }
    span{
        font-weight: 900;
    }
}
section.save-money {
    background: #F0F6FF;

    
   .save-money-title{
            color: $primary;
            padding-top: 38.91px;
            padding-bottom: 16.66px;
      }
    
}
section.our-services {
    margin-bottom: 64px;
}
section{
    .replace-box{
        background-color: $primary;
        padding: 22px;
        .hero-heading{
            color: $white;
            padding-top: 46px;
            font-size: 68.63px;
            letter-spacing: -3px;
        }
        .sub-heading{
            letter-spacing: 0px;
        }
    }

}
section.our-services{
    .services-img{
        position: relative;
    }
    .services-img:hover .overlay {
        height: 100%;
      }
      a.enquire {
        position: absolute;
        bottom: 8px;
        right: 21px;
        background: #106DF8;
        color: white;
        text-decoration: none;
        padding-top: 1px;
        padding-left: 19px;
        padding-right: 14px;
        padding-bottom: 5px;
    }
    a.enquire::after {
        content: " >";
        font-size: 20px;
        top: 2px;
        position: relative;
    }
    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
      }
      .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 80%;
        left: 25%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
      

}
section.brands-cta{
    .services-title{
color: rgba(1, 24, 45, 0.51);
    }
    .services-paragraph{
        color:#6A83;
    }
}
section.cta{
    // background: #F5F5F5;
    padding: 53px 0px 30px;
      .parent{
        position: relative;
      }
      .cta-img{
        position: relative;
        top: 22px;
      }
      p.center-bottom {
        position: absolute;
        top: 72%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
    }
   a.btn-price {
        position: absolute;
        top: 88%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-decoration: none;
        text-align: center;
    background: #106DF8;
    padding: 8px 31px 8px 39px;
    border-radius: 50px;
    

    }
    .h12.service{
        position: relative;
        bottom: 6px;
    }
        .call-btn{
            padding: 13.71px 51px 13.71px 51px;
            border-radius: 49px;
        
        }
       .cta-sub-title{
        position: relative;
        bottom: 72px;
       }
}
section.faq{
    .call-us-btn {
        background: $white;
        border: 1px solid $primary;
        padding: 15px 30px 15px 30px;
        font-size: 16px;
        line-height: 12;
        color: $primary;
        text-decoration: none;
    }
    .view-btn {
        background: $primary;
        color: #fff;
        padding: 15px 40px 15px 40px;
        text-decoration: none;
    }
}

section.faq {
        background: #F0F6FF;
        padding-bottom: 73px;
        .number {
            background: #106DF8;
            padding-top: 31px;
            font-size: 44px;
            text-align: center;
            padding-bottom: 25px;
            color: white;
            border-radius: 0px 0px 10px 10px;

        }
}
section.our-areas{
    .area-name{
        .area-tick::before {
        content: " ✓ ";
    }
    
}
}
section.contact{
    .call-us-btn {
        background: $white;
        border: 1px solid $primary;
        padding: 15px 30px 15px 30px;
        font-size: 16px;
        color: $primary;
        text-decoration: none;
    }
    .view-btn {
        background: $primary;
        color: #fff;
        padding: 15px 40px 15px 40px;
        text-decoration: none;
    }
}
footer {
    .footer-nav-li {
        font-size: 0.875rem;
        line-height: 1.47rem;
        color: #58585a
    }

    .footer-nav-li-before::before {
        @include media-breakpoint-up(lg) {
            content: "|";
            padding-right: 1.5rem;
        }
    }
}